/* Color palette:
white: #fff
background: #04221f
orange dark: #ff5700
orange light: #ff8700
topbar light: #016f50
topbar dark: #004d37
header / footer: #063530 */

* {
  /* background-color: #04221f !important; */
}

.container {
  background-color: #04221f;
  width: 100%;
  min-height: 0;
  min-width: 0;
}

/* @media(min-width:576px) {
      
  
  } */

#header {
  background-color: #063530 !important;
  height: 15rem;
  width: 100%;
}

#top-bar {
  background-color: #016f50 !important;
  height: 2.5rem;
  border-bottom: 5px solid #004d37;
  display: flex;
  justify-content: center;
  align-items: center;
}



#logo {
  position: sticky;
  width: 5rem;
}

#welcome-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-end;
}

#welcome-pic {
  width: 11rem;
}

#welcome-items-left {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
}

#p-welcome-bonus {
  line-height: 1.1;
  color: white;
  font-size: x-large;
  font-family: "Open Sans Extrabold", "Regular", "Semibold";
  font-weight: 800;
}

#p-free-chip {
  line-height: 0.7;
  color: #ff5700;
  font-size: x-large;
  font-family: "Open Sans Extrabold", "Regular", "Semibold";
  font-weight: 800;
}

#p-no-deposit {
  line-height: 0.5;
  color: whitesmoke;
  font-size: small;
  font-family: "Open Sans Extrabold", "Regular", "Semibold";
}

.input-container {
  padding-bottom: 1em;
}

.right-inner-addon {
  position: relative;
}
.right-inner-addon input {
  padding-right: 30px !important;
  color: #004d37;
  background-color: #04221f;
}
.right-inner-addon i {
  position: absolute;
  right: 3px;
  padding: 12px 16px;
  pointer-events: none;
  color: white;
  background-color: #016f50;
  border-radius: 0 25% 25% 0;
  font-size: medium;
  width: 30%;
  height: 73%;
}

.input {
  width: 100%;
  height: 30%;
  padding: 1em !important;
  margin: 0em !important;
  box-sizing: border-box;
  font-size: smaller;
  background-color: #016f50;
  border-color: #016f50;
}

.btn-start {
  background-color: #ff5700;
  color: white !important;
  font-weight: 500;
  border-radius: 10px;
  font-size: large;
  font-weight: 700;
}

#p-games {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: xx-large;
  font-weight: 800;
  text-align: center;
  margin-bottom: 3rem;
}

#content-games {
  padding-left: 1rem;
}

.game-box {
  flex-basis: auto;
  border-radius: 10px;
  flex-shrink: 0;
  margin-bottom: 1rem;
}

.game-box img {
  width: 88%;
  border-radius: 5px;
  border: 1px solid #016f50;
}

#card-casino {
  background-color: #04221f;
}

.card {
  width: 27rem;
  margin-left: 5rem;
  margin-top: 7rem;
  color: white;
}

#card-title {
  font-size: xx-large;
  font-family: "Arial" "Open Sans Extrabold", "Regular", "Semibold";
  font-weight: 900;
  margin-bottom: 2rem;
}

#btn-card-signup{
  background-color: #ff5700;
  width: 25rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: white;
  font-size: large;
  font-weight: 700;
}

.form-check-input:checked {
  background-color: green !important;
  border-color: #016f50;
}

.form-check-label {
  color: white;
}

#cover-card {
  z-index: 100;
}

#footer {
  background-color: #063530 !important;
  height: auto;
  bottom: 0;
  padding-left: 3rem;
  padding-right: 4rem;  
  padding-bottom: 1rem;


}

#footer img{
  width: 4rem;
  margin-right: 1rem;
}



.icons-footer {
  margin-top: 1rem;
  align-items: center;
}

#p-footer{
  color: white;
  text-align: center;
  margin-top: 1rem;
  font-size: x-small;

}
