/* Color palette:
white: #fff
background: #04221f
orange dark: #ff5700
orange light: #ff8700
topbar light: #016f50
topbar dark: #004d37
header / footer: #063530 */

* {
  background-color: #04221f !important;
}

.container {
  background-color: #04221f;
  width: 100vw;
  height: 100vh;
  border: 3px solid red;
  min-height: 0;
  min-width: 0;
}

/* @media(min-width:576px) {
      
  
  } */

#header {
  background-color: #063530 !important;
  border: 3px solid orange;
  height: 10rem; 
}

#top-bar {
  background-color: #016f50 !important;
  height: 2rem;
  border-bottom: 5px solid #004d37;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer {
  background-color: #063530 !important;
  height: 4rem;
  border: 3px solid orange;
  position: fixed;
  bottom: 0;
}

#logo {
    position:sticky;   
    background-color:#004d37;
    width: 5rem;      
}
