:root {
  --bgColor: #04221f;
  --white: #ffffff;
  --colorFooterHeader: #063530;
  --topbarDark: #004d37;
  --topbarLight: #016f50;
  --orangeLight: #ff8700;
  --orangeDark: #ff5700;
  --fontFamily: "Open Sans, Extrabold, Semibold, Regular";
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  text-align: center !important;
  margin: 0;
  border: 0;
  font-family: var(--fontFamily);
  justify-content: center;
  align-items: center;
}

.container-page {
  background-color: var(--bgColor);
  width: 100%;
  min-height: 0;
  min-width: 0;
  align-items: center;
}

#header {
  background-color: var(--colorFooterHeader) !important;
  height: 15rem;
  width: 100%;
}

#top-bar {
  background-color: var(--topbarLight) !important;
  height: 2.5rem;
  border-bottom: 5px solid var(--topbarDark);
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  position: sticky;
  width: 7rem;
}

@media (max-width: 992px) {
  #logo {
    width: 3rem;
  }
}

#welcome-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-end;
}

#welcome-pic {
  width: 11rem;
}

@media (max-width: 992px) {
  #welcome-pic  {
  display: none;
  }
}

#welcome-items-left {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start !important;
  align-content: flex-start !important;
  text-align: left;
}

@media (max-width: 992px) {
  #input-free  {
  width: 7rem;
 
  }
}

@media  (max-width: 992px) {
  #welcome-items-left  {
    margin-left: 6rem;
    display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center!important;;
  align-items: center!important;
  align-content: center !important;
  text-align: center;
  }
}

#p-welcome-bonus {
  line-height: 1.1;
  color: white;
  font-size: x-large;
  font-family: var(--fontFamily);
  font-weight: 800;
}

#p-free-chip {
  line-height: 0.7;
  color: var(--orangeDark);
  font-size: x-large;
  font-family: var(--fontFamily);
  font-weight: 800;
}

#p-no-deposit {
  line-height: 0.5;
  color: whitesmoke;
  font-size: small;
  font-family: var(--fontFamily);
}

.input-container {
  padding-bottom: 1em;
}

.right-inner-addon {
  position: relative;
}

.right-inner-addon input {
  padding-right: 30px !important;
  color: var(--topbarDark);
  background-color: var(--bgColor);
}

.right-inner-addon i {
  position: absolute;
  right: 3px;
  padding: 12px 16px;
  pointer-events: none;
  color: white;
  background-color: var(--topbarLight);
  border-radius: 0 25% 25% 0;
  font-size: medium;
  width: 30%;
  height: 73%;
}

.input {
  width: 100%;
  height: 30%;
  padding: 1em !important;
  margin: 0em !important;
  box-sizing: border-box;
  font-size: smaller;
  background-color: var(--topbarLight);
  border-color: var(--topbarLight);
}

.btn-start {
  color: white !important;
  font-weight: 500;
  border-radius: 5px;
  font-size: large;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.btn-effect {
  padding: 0;
  background: linear-gradient(to right, var(--orangeLight), var(--orangeDark));
  transition: background 0.5s ease-in-out;
  border-radius: 5px;
}

.btn-effect :hover {
  background: linear-gradient(to left, var(--orangeLight), var(--orangeDark));
}

#p-games {
  font-family: var(--fontFamily);
  color: white;
  font-size: xx-large;
  font-weight: 800;
  text-align: center;
  margin-bottom: 3rem;
}

#content-games {
  padding-left: 8rem;
  padding-right: 8rem;
  position: relative;
}

.game-box {
  border-radius: 10px;
  position: relative;
  display: inline-block;
}

.game-box img {
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--topbarLight);
}

.img-play {
  opacity: 0;
  width: 25% !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-box:hover .img-play {
  opacity: 1;

  z-index: 2;
}

.game-box:hover .img-game {
  opacity: 0.3;
  z-index: 1;
}

@media (max-width: 576px) {
  .img-game {
  }
}

@media (max-width: 576px) {
  .img-play {
  }
}

#content-row-casino-iphone {
  position: absolute;
  width: 80%;
}

#content-row-casino-iphone .active:hover {
  pointer-events: none;
}

#card-casino {
  background-color: var(--bgColor);
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
}

#img-iphone {
  position: relative;
  display: inline-block;
  width: 20rem;
}

@media (max-width: 576px) {
  #img-iphone {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  #img-iphone img {
    width: 20rem !important;
    margin-top: 8rem;
  }
}

.card {
  margin-left: 5rem;
  margin-top: 7rem;
  color: white;
}

#card-casino {
  position: relative;
  width: 30rem;
  margin-bottom: 1rem;
}

@media (max-width: 576px) {
  #card-casino {
    width: 16rem;
    position: static;
    z-index: 30;
  }
}

#card-title {
  font-size: xx-large;
  font-family: var(--fontFamily);
  font-weight: 900;
  margin-bottom: 2rem;
}

#btn-card-signup button {
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 100%;
  font-family: var(--fontFamily);
  font-weight: 700;
  padding: 0;
  color: white;
  background: linear-gradient(to right, var(--orangeLight), var(--orangeDark));
  transition: background 0.5s ease-in-out;
}

#btn-card-signup :hover {
  background: linear-gradient(to left, var(--orangeLight), var(--orangeDark));
}

@media (max-width: 576px) {
  #btn-card-signup {
    width: 14rem;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  #card-casino {
    width: 17rem !important;
  }

  #btn-card-signup {
    width: 12rem;
  }
}

.form-check-input:checked {
  background-color: green !important;
  border-color: var(--topbarLight);
}

.form-check-label {
  color: white;
}

#cover-card {
  z-index: 100;
}

#footer {
  background-color: var(--colorFooterHeader) !important;
  height: auto;
  bottom: 0;
  padding-left: 3rem;
  padding-right: 4rem;
  padding-bottom: 1rem;
}

#footer-container-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#footer img {
  width: 4rem;
  margin-right: 1rem;
}

.icons-footer {
  margin-top: 1rem;
  align-items: center;
}

#p-footer {
  color: white;
  text-align: center;
  margin-top: 1rem;
  font-size: x-small;
}
