/* Color palette:
white: #fff
background: #04221f
orange dark: #ff5700
orange light: #ff8700
topbar light: #016f50
topbar dark: #004d37
header / footer: #063530 */

* {
  /* background-color: #04221f !important; */
}

.container {
  background-color: #04221f;
  width: 100vw;
  height: 100vh;
  /* border: 3px solid red; */
  min-height: 0;
  min-width: 0;
}

/* @media(min-width:576px) {
      
  
  } */

#header {
  background-color: #063530 !important;
  /* border: 3px solid orange; */
  height: 15rem;
}

#top-bar {
  background-color: #016f50 !important;
  height: 2.5rem;
  border-bottom: 5px solid #004d37;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer {
  background-color: #063530 !important;
  height: 4rem;
  /* border: 3px solid orange; */
  position: fixed;
  bottom: 0;
}

#logo {
  position: sticky;
  width: 5rem;
}

#welcome-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-end;
}

#welcome-pic {
  width: 11rem;
}

#welcome-items-left {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-end;
}

#p-welcome-bonus {
  line-height: 1.1;
  color: white;
  font-size: x-large;
  font-family: "Open Sans Extrabold", "Regular", "Semibold";
  font-weight: 800;
}

#p-free-chip {
  line-height: .7;
  color: #ff5700;
  font-size: x-large;
  font-family: "Open Sans Extrabold", "Regular", "Semibold";
  font-weight: 800;
}

#p-no-deposit {
  line-height: .5;
  color: whitesmoke;
  font-size: small;
  font-family: "Open Sans Extrabold", "Regular", "Semibold";
}

.input-container {
  padding-bottom: 1em;
}

.right-inner-addon {
  position: relative;
}
.right-inner-addon input {
  padding-right: 30px !important;
  color: #004d37;
  background-color: #04221f;
}
.right-inner-addon i {
  position: absolute;
  right: 3px;
  padding: 12px 16px;
  pointer-events: none;
  color: white;
  background-color: #016f50;
  border-radius: 0 25% 25% 0;
  font-size: medium;
  width: 30%;
  height: 73%;
}

.input {
  width: 100%;
  height: 30%;
  padding: 1em !important;
  margin: 0em !important;
  box-sizing: border-box;
  font-size: smaller;
  background-color: #016f50;
  border-color: #016f50;
}


.btn-start{
  background-color: #ff5700;
  color: white !important;
  font-size: medium;
  font-weight: 500;
  border-radius: 10px;
  
}

